<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.student">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Student Management System"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Student">
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".updateActivity"
            android:exported="true"
            android:label="Update Student Data"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AddStudent"
            android:exported="true"
            android:label="Add New Student"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".login"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>